@tailwind base;
@tailwind components;
@tailwind utilities;



/* src/index.css or src/styles.css */

/* src/index.css or src/styles.css */

@font-face {
  font-family: 'Mattar';
  src: url('/fonts/Matter-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Mattar';
  src: url('/fonts/Matter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mattar';
  src: url('/fonts/Matter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mattar';
  src: url('/fonts/Matter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

/* Make sure to reset Tailwind's default font family */
* {
  font-family: 'Jost', sans-serif;
}

